fastapi>=0.110
uvicorn[standard]>=0.27
python-multipart>=0.0.9
bcrypt
pandas>=2.1
sqlalchemy>=2.0
psycopg2-binary>=2.9
python-dotenv
email-validator

# Machine Learning & NLP
# Support for Pegasus-X, FinBERT, and BART
pandas>=2.1

# Database
# For Python to talk to PostgreSQL database
sqlalchemy>=2.0
psycopg2-binary>=2.9

# Utilities
python-dotenv
